.footer {
    background: url(../img/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 40px;
}
.footer__container {
    display: flex;
    justify-content: space-between;

}
.footer__section{
    padding-top: 16px;
}
.footer__address > *:not(:last-child){
    margin-bottom: 32px;
}
.footer__contacts > *:not(:last-child){
    margin-bottom: 40px;
}
.footer__text{
    display: flex;
    justify-content: space-between;
}
.footer__text>*:not(:last-child){
    margin-right: 160px;
}
.footer__contacts {
    max-width: 278px;
    display: flex;
    flex-direction: column;
}
.contacts__title {
    color: $neutral-color;
    text-align: start;
    width: 100%;
    letter-spacing: 0.05em;
    
}

.contacts__section {
   display: flex;
   align-items: center;
    margin-bottom: 40px;
}
.contacts__section > *:not(:last-child){
    margin-right: 20px;
}
.mail__icon {
    background: url(../img/footer/icon-email.svg);
    background-size: cover;
    width: 40px;
    height: 32px;
}

.section_info {
    font-family: $title-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $accent-color;

}
.tel__icon {
    background: url(../img/footer/icon-phone.svg);
    background-size: cover;
    width: 40px;
    height: 32px;
}
.footer__address {
    max-width: 302px;
    display: flex;
    flex-direction: column;
}
.address__title{
    color: $neutral-color;
    text-align: start;
}
.address__icon {
    background: url(../img/footer/icon-marker.png);
    background-size: cover;
    width: 22px;
    height: 32px;
}

.footer__img {
    background: url(../img/footer/footer-puppy.png);
    width: 300px;
    height: 310px;
}