.header{
    background: url(../img/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.header__header{
    padding: 30px 0;

}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: column;

    &*:not(:last-child){
        margin-bottom: 10px;
    }
}

.logo__text_main {    
    font-family: $title-font;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.07em;
    color: $accent-color;
}
.logo__text_additional {
    font-family: $text-font;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: $neutral-color;
}
.header__menu {

    display: flex;

}
.menu__list {
    display: flex;
}
.menu__list >*:not(:last-child){
    margin-right: 35px;
}
.menu__item {
    font-family: $text-font;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: 0.2s;

    &.active{
        pointer-events: none;
    }

    &:hover{
        cursor: pointer;
        color: $accent-color;
        transform: scale(110%);
        transition: 0.2s;
    }
}


.menu__line{
    border-bottom: solid 3px #F1CDB3;;
    display: none;

    &.active{
        display: block;
    }
}